a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  min-width: 387px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--white-color);
  padding: 20px;
  text-align: center;
  border-bottom: 0.5px solid transparent;
}

header nav a {
  overflow: hidden;

  padding: 10px 20px;
  font-size: 1.5rem;
  color: rgba(223, 213, 213, 0.969);
  border-radius: 5px;
  letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
  background: var(--white-color);
  color: var(--primary-color);
  transition: 0.5s ease-out;
  letter-spacing: 1px;
  border: 1px var(--primary-color) solid;
  border-radius: 13px;
}

body {
  background: var(--white-color);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}


section .container {
  margin: 100px;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section h2 {
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: var(--white-color);
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}



.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}



#mainBackground {
  width: calc(50vw);
  margin-top: 70px;

}


#mainBackgroundWrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#mainBio {
  height: calc(100vh);
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
}

#mainBio>div {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mainBio img {
  height: 40%;
  filter: grayscale(0.6);
  opacity: 0.9;
}

#mainBio h2,
p {
  word-spacing: 4px;
  margin-top: 15px;
}

#experiences {
  width: calc(100vw);
  display: flex;
  justify-content: center
}

#mainBio p+div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#mainBio div {
  text-align: left
}

span {
  margin: 5px;
}

.mybtn {
  margin: 8px;
  color: var(--secondary-color);
  font-size: 15px;
  font-size: 19px;
  ;
  border-radius: 30px;
}

.label {
  color: white;
  padding: 8px;
  font-size: 11px;
}

.success {
  background-color: var(--secondary-color)
}

/* Green */
.info {
  background-color: var(--primary-color)
}

/* Blue */
.warning {
  background-color: var(--additional-color)
}

/*;} /* Orange */
.danger {
  background-color: #f44336;
}

/* Red */
.other {
  background-color: #e7e7e7;
  color: black;
}

/* Gray */




button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

button.learn-more {
  width: 14rem;
  height: auto;
  background-color: var(--white-color);
  border-radius: 40px;
  position: -webkit-sticky;
  position: sticky;
  display: inline;
  left: 10px;
  bottom: 10px;
  z-index: inherit;
  font-size: 20px;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  font-size: 0.7rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.65rem 0;
  margin: 1 0 0 1.5rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 85%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.downloadBtn {
  display: none;
}

#whoami {
  display:flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw)
}

#whoami-content{
  width: 90%;
}

ul {
  list-style-type: circle;
}

#education {
  display: flex;
  width: calc(100vw);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#education > div {
  width:80%
}

#education > li {
  display: flex;;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}


#education  img {
  height:100px;
  width:100px;
  vertical-align:middle;
  margin-right: 30px;
}

.edubr {
  display: none;
}


@media (max-width: 900px) {
  button.learn-more {
    display: none
  }
  .downloadBtn {
    display: block;
  }
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }

  section .text-container {
    flex-direction: column;
  }


}



@media only screen and (max-width: 768px) {

  header nav a {
    font-size: 0.7rem;
    padding: 5px 10px;
    border-radius: 6px !important;

  }

  #bio {
    flex-direction: column;
  }

  #mainBackground {
    content: url(../images/workspace-mobile.jpg);
    width: calc(100vw);
  }


  #mainBackgroundWrapper {
    width: 100%;
  }

  #mainBio>div {
    width: 100%;
  }

  #mainBio {
    width: 80%;
    margin-top: 70px
  }

  #mainBio img {
    height: 28%;
  }

  section h2 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }


  .edubr {
    display: flex;
  }
 

}